html, 
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.47);
}
header h1 {
    font: 700 38px 'Nunito', sans-serif;
    color: #235D3A;
    margin: 10px 0 0 30px;
}

header h2 {
    font: 700 16px 'Nunito', sans-serif; 
    color: #6B8E4E;
    margin: 0 0 15px 30px;
}

header a {
    text-decoration: none;
    font: 700 19px 'Nunito', sans-serif; 
    color: #397D54;
    margin-right: 30px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 55px;
}

.form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35px 20px;
}

.form-section label {
    font: 600 19px 'Nunito', sans-serif; 
    color: #235D3A;
    width: 40%;
    text-align: right;
}

.form-section .input-field {
    width: 30%;
    height: 30px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #EFEFEF;
    text-align: right;
    font: 600 16px 'Nunito', sans-serif;
}

input[type="number"] {
    border: 1px solid #EFEFEF;
}

form.left-column {
    width: 50%;
    border-right: 2px solid #397D54;
    padding: 30px 0;
} 

div.right-column {
    width: 50%;
    padding: 30px 0;
}

div.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.output-section label {
    font: 600 19px 'Nunito', sans-serif; 
    color: #000;
    text-align: center;
}

.output-section span {
    font: 600 21px 'Nunito', sans-serif; 
    color: #235D3A;
    text-align: center;
}

div.button-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.clear-button {
    border-radius: 30px; 
    padding: 5px 35px; 
    font: 600 19px 'Nunito', sans-serif; 
    color: #EFEFEF;
    background-color: #235D3A; 
    border: 1px solid #235D3A;
    margin: 40px 0;
    letter-spacing: 2px;
}

input[type="button"] {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
            transition: 0.3s;
}

input[type="button"]:hover {
    transform: scale(1.1);
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: rgba(239, 239, 239, 0.47); 
    font: 600 13px 'Nunito', sans-serif;
    color: #6B8E4E;
}

@media only screen and (max-width: 755px) {
    main {
        flex-direction: column;
        margin-top: 0;  
    }
    div.right-column {
        width: 80%;
    }
    form.left-column {
        border-bottom: 2px solid #397D54;
        border-right: none;
        width: 80%;
    } 
    .form-section {
        flex-direction: column;
        align-items: center;
    }
    .form-section label {
        text-align: center;
    }
    .form-section .input-field {
        width: 60%;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }
    .output-section span {
        margin-top: 15px;
    }
    .clear-button { 
        margin: 0  0 50px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
    }
    header h1 {
        font-size: 30px;
        text-align: center;
        margin-left: 0; 
    }
    header h2 {
        text-align: center;
        margin: 10px 0;
    }
    header a {
        font-size: 17px 'Nunito', sans-serif; 
        margin: 15px 0;
    }
    div.right-column {
        width: 90%;
        padding: 10px 0;

    }
    form.left-column {
        width: 90%;
        padding: 10px 0;
    } 
}